.hero-unit
  %h4 亲,快试试吧,轻松生成您的商品二维码,方便分享到网络上,提升宝贝流量
  %p 
    商品二维码将您商品购买网址变成二维码,您使用手机扫描该二维码时,
    将自动打开商品购买页面,您可使用如下功能:
    %ul
      %li 上传至宝贝图片,该二维码将作为图片显示在商品购买页面
      %li 下载到本地保存,可以编辑或修改
      %li 快速分享到qq空间，微博等朋友圈子中去
      %li 您还可定制二维码的颜色、大小、LOGO

  %p 赶紧试试吧,点击这里新建一个
  %p
    %a.btn.btn-large{href: items_path} 
      点击新建商品二维码上传
