.hero-unit
  %h4 新建店铺名片二维码
  %p 
    店铺名片二维码将您的淘宝店铺所有信息打包成为一个二维码,您使用手机扫描该二维码时,
    以下信息将自动作为联系人加入到手机通讯录中
    %ul
      %li 店铺名称
      %li 联系电话/QQ号码/旺旺号码
      %li 店铺网址/实体店地址
      %li 店铺简介信息

  %p 您还没有上传过店铺名片二维码,点击这里新建一个
  %p
    %a.btn.btn-large{href: current_card_shops_path}
      %i.icon-plus
      点击新建二维码上传
