%h4.clearfix
  .pull-left
    最近上传的店铺名片二维码
  .pull-right
    %a.btn{:href => current_card_shops_path,"data-toggle"=>"tooltip","data-placement" => "bottom", :title => "新建店铺名片二维码"} 
      %i.icon-plus
      新建
%hr
%ul.thumbnails
  - @shop_card_logs.each do |sc|
    %li
      %a.thumbnail{href: sc.picture_path,title: sc.title,class: "fancybox"}
        = image_tag sc.picture_path,size: "150x150"
      .text-center
        %span.label.label-info
          = sc.title
