.row
  .span12
    %h3 最近上传的店铺名片二维码
    .well.well-small
      .hero-unit
        %h4 新建店铺名片二维码
        %p 您还没有上传过店铺名片二维码,点击这里新建一个

        %p
          %a.btn.btn-large.btn-primary{href: '#'}
            %i.icon-plus.icon-white
            点击新建二维码上传

      %ul.thumbnails
        %li
          .well
            %a.btn.btn-large.thumbnail{href: '#'}
              %i.icon-plus


.row
  .span12
    .well.well-small
      %h4 最近上传的商品维码
      %ul.thumbnails
        %li
          %a.thumbnail{href: "#"}
.row
  .span12
    .well.well-small
      %h4 社交网络
      %ul.thumbnails
        %li
          %a.thumbnail{href: "#"} qq
