.hero-unit
  %h3 生成店铺名片
  %p
    该信息以标准的vcard格式存储,手机扫描时,店铺信息会自动添加到手机通讯录
  %p
    %a{href: 'http://zh.wikipedia.org/wiki/VCard',target: "_blank"} 了解vcard
  %p
    %a.btn.btn-primary.btn-large.btn-generate-shop-vcard  生成名片二维码
