.row
  %h4.text-center 与chengdongh联系
  .span4.offset4
    %ul.thumbnails
      %li.thumbnail
        %a{href: "mail_to:cheng.donghui@gmail.com",
        "data-toggle" => "tooltip","data-placement" => :bottom,
        :title => "cheng.donghui@gmail.com"}
          = image_tag(asset_path("email.png"),size: "50x50")
      %li.thumbnail
        %a{target: "_blank",href: "http://amos1.taobao.com/msg.ww?v=2&uid=chengdongh=1",
        "data-toggle" => "tooltip","data-placement" => :bottom,
        :title => "旺旺号:chengdongh"}
          = image_tag asset_path("wangwang.png"),size: "50x50"
      %li.thumbnail
        %a{target: "_blank",href: "http://wpa.qq.com/msgrd?v=3&uin=542340109&site=qq&menu=yes",
        "data-toggle" => "tooltip","data-placement" => :bottom,
        :title => "QQ号:542340109"}
          = image_tag(asset_path("qq.png"),size: "50x50")
      %li.thumbnail
        %a{target: "_blank",href: "https://github.com/chengdh",
        "data-toggle" => "tooltip","data-placement" => :bottom,
        :title => "参观一下我的其他开源项目"}
          = image_tag(asset_path("github.png"),size: "50x50")

.row
  .span12
    %p.text-center
      &copy; StrongU Inc 2013
