- qr = qrcode(content)
.qr-wrapper{:position => 'relative',"data-label" => qr_label,"data-logo-url" => logo_url,
                                    "data-width" => qr.modules.size,"data-height" => qr.modules.size}
  %img.img-rounded.qr-logo{src: logo_url}
  %table.qr-table
    - qr.modules.each_index do |x|
      %tr
        - qr.modules.each_index do |y|
          - if qr.dark?(x,y)
            %td.qr-td
              .qr-unit-black
          - else 
            %td.qr-td
              .qr-unit-white
  
    %tr
      %td(style="text-align : center;" colspan=100)
        %span.qr-label
          = qr_label
