- qr = item_qrcode(item)
- logo_src = item.pic_url
- logo_src =  logo_url if local_assigns.has_key? :logo_url
.qr-wrapper{:position => 'relative',"data-label" => item.title,"data-logo-url" => item.pic_url,
                                    "data-width" => qr.modules.size,"data-height" => qr.modules.size}
  %img.img-rounded.qr-logo{src: logo_src}
  %table.qr-table
    - qr.modules.each_index do |x|
      %tr
        - qr.modules.each_index do |y|
          - if qr.dark?(x,y)
            %td.qr-td
              .qr-unit-black
          - else 
            %td.qr-td
              .qr-unit-white
  
    %tr
      %td.qr-label(colspan=100)
        %span
