- qr = item_qrcode(item)
.qr-wrapper
  =image_tag item.pic_url,:class => 'item-img img-rounded'
  %table.item-qr-code
    - qr.modules.each_index do |x|
      %tr  
        - qr.modules.each_index do |y|
          - if qr.dark?(x,y)
            %td.black
          - else 
            %td.white
