.well#item_search_form(style='display:none;')
  %form.form-inline
    %label.control-label(for="item_name") 宝贝名称
    %input(type="text" id="item_name" placeholder="宝贝名称")

    %label.control-label(for="item_cat") 所属分类
    %select(type="text" id="item_cat")
      %option(value="") 全部分类
