%ul.nav.nav-tabs
  %li.active
    %a(href="#") 出售中的宝贝
  %li
    %a(href="#") 橱窗推荐宝贝

.well.well-small
  %ul.thumbnails
    - @items.each do |item|
      %li.span2.qr-wrapper
        = render 'qr_code',:item => item
        = link_to item.title,item_path(:id => item.num_iid)
        %label.checkbox
          %input.cbx-select-item{:type=>:checkbox,:value => item.num_iid} 选择

.pagination
  = will_paginate @items,renderer: BootstrapPagination::Rails

- content_for :sidebar do
  = render "sidebar"
