.navbar
  .navbar-inner
    %ul.nav
      %li.active
        %a(href="#") 出售中的宝贝
      %li
        %a(href="#") 橱窗推荐宝贝

    %ul.nav.pull-right
      %li
        .btn-group
          %a.btn.btn-items-search(href="#" data-toggle="popover" data-placement="bottom" title="")
            %i.icon-search

        .btn-group
          %a.btn(href="#" data-toggle="popover" data-placement="bottom" title="")
            %i.icon-th-list


.alert.alert-info
  单击商品二维码选择_te

.well.well-large
  %ul.thumbnails
    - @items.each do |item|
      %li.span2
        = render 'qr_code',:item => item

.pagination
  = will_paginate @items,renderer: BootstrapPagination::Rails

= render 'search'
= session[:taobao_access_token]
