/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fancybox
 *= require jquery.notify_bar
 *= require jquery.simplecolorpicker
 *= require jquery.fileupload-ui
 *= reqiore vcard/style
 *= require_tree .
 *= require_self
 */
body{
  background: #00FF00 url(/assets/dimension.png) repeat;
}
.brand{
  background : #A72722;
}
.brand .brand-text{
  color : #FFF;
  text-shadow : 0;
}

/*主界面登录*/
.login-info{
    float : right;
    padding : 5px;
}
/*选定商品*/
.item-selected{
  border : 1px solid gray;
}
/*拷贝到剪贴板按钮*/
.btn-clip:hover{
  background-color : #eee;
}
.qr-config{
  margin-left : 5px;
}
.text-center{
  text-align : center;
}
